.wrapper {
    width: 100%;
    max-height: min(-156px + 100vh, 734px);
    min-height: 100px;
    margin-top: 8px;
    padding-top: 8px;
    border-radius: 8px;
    background: rgb(47, 47, 47);
    color: white;
}
