@import 'normalize.css';

:root {
    --primary: #ff3b5c;
    --black: black;
    --white: white;
    --text-color: #333;

    // Default layout
    --default-layout-header-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

// fonts
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 600;
}

//

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: 'TikTokFont';
    // color: var(--text-color);

    button,
    input,
    a,
    [tabindex] {
        outline: none;
        border: none;
        text-decoration: none;
    }
}
